#about-me {
    .content {
        @include md {
            flex-direction: row;
            justify-content: space-between;
        }

        .aboutme-infos {
            flex-direction: column;

            .aboutme-list {
                width: 100%;
                color: $text-light;
                word-spacing: 1.8px;
                padding-top: 20px;

                ul {
                    list-style: none;
                    padding-left: 0px;

                    .aboutme-list-item {
                        @include md {
                            font-size: 1.4em;
                        }

                        @include lg {
                            font-size: 1.2em;
                        }

                        .entity {
                            margin-right: 10px;
                            font-size: 1em;
                        }
                    }
                }
            }
        }

        .aboutme-image {
            img {
                width: 100%;
                height: 100%;
                object-fit: fill;

                @include lg {
                    margin-left: 160px;
                }

                @include xl {
                    margin-left: 210px;
                }
            }
        }
    }
}
