.btn-back-top {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0.6;
    background-color: var(--bgIcons);
    border-radius: 50%;
    // quando ha la proprietà display settata su flex (vedi script.js)
    justify-content: center;
    align-items: center;

    @include md {
        width: 40px;
        height: 40px;
    }

    .fa-arrow-up {
        width: 80%;
        height: 80%;
        color: var(--textNavLinks);
    }
}
