#contact {
    height: 100%;

    @include md {
        height: 100vh;
    }

    @include lg {
        height: 100%;
    }

    @include xl {
        height: 100vh;
    }

    .content {
        .contact-infos {
            height: 100%;
            flex-direction: column;

            @include md {
                width: 80%;
            }

            .title-custom {
                @include md {
                    text-align: center;
                }
            }

            p {
                color: var(--lightColor);
                text-align: justify;
                line-height: 1.8em;

                @include md {
                    width: 90%;
                    text-align: center;
                    font-size: 1.2em;
                }
            }

            ul {
                padding: 0;
                list-style: none;

                li {
                    color: var(--lightColor);
                    padding: 8px;

                    @include md {
                        padding: 10px;
                        font-size: 1.2em;
                    }

                    i {
                        margin-right: 10px;
                    }

                    a {
                        color: var(--lightColor);
                        text-decoration: none;
                    }

                    &:hover {
                        cursor: pointer;

                        i,
                        a {
                            color: var(--lightSpecial);
                        }
                    }
                }
            }
        }

        .contact-form {
            display: flex;
            align-items: start;
            flex-wrap: wrap;
            height: 100%;

            @include md {
                width: 80%;
            }

            h2 {
                width: 100%;
            }

            .form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;

                .form-floating {
                    width: 100%;

                    label {
                        display: none;
                    }
                }

                button {
                    margin: 10px 0;
                    color: $text-dark;
                    background-color: var(--lightSpecial);
                }
            }

            h2,
            .form {
                @include md {
                    width: 50%;
                    padding: 0 10px;
                }
            }
        }
    }
}
