#contact {
    // mobile device only (view other styles in _base.scss .section)
    display: flex;
    flex-direction: column;
    height: 900px;

    @include md {
        height: 100%;
    }

    @include lg {
        padding-top: 50px;
    }

    .content {
        .contact-infos {
            height: 100%;
            flex-direction: column;

            @include md {
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 50vh;
            }

            .form-heading {
                @include md {
                    width: 50%;
                }

                p {
                    color: var(--lightColor);
                    text-align: justify;
                    line-height: 1.8em;

                    @include md {
                        font-size: 1.2em;
                    }
                }
            }

            .form-list {
                ul {
                    padding: 0;
                    margin-bottom: 0;
                    list-style: none;

                    li {
                        color: var(--lightColor);
                        padding: 10px;
                        width: 250px;

                        @include md {
                            font-size: 1.2em;
                        }

                        &:hover {
                            cursor: pointer;
                            color: var(--lightSpecial);

                            a {
                                font-weight: bold;
                                color: var(--lightSpecial);
                            }
                        }

                        i {
                            width: 30px;
                            height: 30px;
                        }

                        a {
                            color: var(--lightColor);
                            text-decoration: none;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }

        .contact-form {
            display: flex;
            flex-wrap: wrap;
            height: 100%;

            @include md {
                width: 100%;
                height: 50vh;
                align-items: center;
                justify-content: space-around;
                padding: 0 30px;
            }

            @include lg {
                padding: 0 60px;
            }

            @include xl {
                padding: 0 100px;
            }

            h2 {
                width: 100%;
            }

            .form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;

                .form-floating {
                    width: 100%;

                    label .form-label {
                        color: #ccc;
                    }
                }

                button {
                    width: 100%;
                    margin: 10px 0;
                    color: $text-dark;
                    background-color: var(--lightSpecial);

                    &:hover {
                        transform: scale(0.9);
                    }
                }
            }

            h2,
            .form {
                @include md {
                    width: 50%;
                    height: 230px;
                }
            }
        }
    }
}
