footer {
    width: 100vw;
    height: 100px;
    @include flex-center-all;
    background-color: var(--bgNavFot);

    .container-fluid {
        @include flex-center-all;
        flex-direction: column;

        div {
            font-size: 0.8em;
            color: var(--textColor);

            @include lg {
                font-size: 1em;
            }
        }
    }
}
