footer {
    width: 100vw;
    height: 100px;
    @include flex-center-all;

    .container-fluid {
        @include flex-center-all;
        flex-direction: column;

        div {
            font-size: 0.8em;
            color: $text-light;

            @include lg {
                font-size: 1em;
            }
        }
    }
}
