.title-hello {
    h1 {
        font-size: 25vw;
        color: var(--lightColor);
        width: 100%;

        @include xl {
            font-size: 400px;
        }

        span {
            color: var(--lightSpecial);
        }
    }
}
