.navbar {
    width: 100vw;
    height: 100px;
    @include flex-center-all;
    background-color: var(--lightNavFot);

    @include md {
        height: 120px;
    }

    .container-fluid {
        width: 90vw;
        max-width: 1200px;

        .nav-left {
            width: 50%;

            .logo {
                width: 75px;
                height: 75px;
                object-fit: cover;
                background: var(--logoTheme);
                background-size: 75px;
                height: 75px;

                @include md {
                    width: 100px;
                    height: 100px;
                    background-size: 100px;
                    height: 100px;
                }
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .nav-right {
            width: 50%;
            display: flex;
            justify-content: end;
            align-items: center;

            .ctn-dark-mode {
                display: flex;
                justify-content: center;
                align-items: center;
                @import "../_dark-mode.scss";
            }

            // Icona menu (hambuger)
            .navbar-toggler {
                border: 0;

                .fa-bars {
                    font-size: 1.8em;
                    color: var(--lightIconColor);

                    &:hover {
                        transform: rotate(45deg);
                        transition: 0.1s;
                    }
                }
            }

            // Menu nav links
            .offcanvas {
                border: 0;
                background-color: var(--lightSpecial);

                .btn-close {
                    padding: 40px 40px 0 0;
                    font-size: 2em;
                }

                &-body {
                    @include flex-center-all;

                    .navbar-nav {
                        .nav-item {
                            .nav-link {
                                color: var(--lightNavLinks);
                                font-size: 2em;

                                @include md {
                                    font-size: 3em;
                                }

                                &:hover {
                                    transform: scale(0.9);
                                    color: var(--lightHoverColorNavLinks);
                                }
                            }
                        }
                    }
                }
            }

            // Modifica il comportamento di default di Bootstrap quando il cursore è in focus sull'elemento: rimuovere ombra sia del toggler sia del bottone di chiusura del menu
            .navbar-toggler:focus,
            .btn-close:focus {
                box-shadow: none;
            }
        }
    }
}
