#skills {
    .content {
        @include md {
            flex-direction: row;
            justify-content: space-between;
        }

        .skills-infos {
            flex-direction: column;
            margin-bottom: 0;

            @include lg {
                padding-left: 60px;
            }

            .skills-p {
                color: var(--lightColor);
                text-align: justify;
                line-height: 1.8em;
                font-size: 0.9em;

                @include md {
                    font-size: 1em;
                }
            }
        }

        .skills-chart {
            @include lg {
                padding-left: 20px;
            }

            @include xl {
                padding-left: 50px;
            }

            .column {
                width: 320px;
                margin-top: 20px;
                @include flex-center-all;

                @include md {
                    margin-top: 40px;
                    padding-left: 30px;
                    width: 300px;
                }

                @include lg {
                    padding-left: 0px;
                    width: 350px;
                }

                @include xl {
                    width: 450px;
                }

                tr {
                    color: var(--lightColor);

                    td {
                        width: 50px;
                        border-top-right-radius: 20px;
                    }
                }
            }
        }
    }
}
