#hotel-pomelia,
#circolo-santa-brigida,
#ixi-management {
    height: 100%;
}

#hotel-pomelia {
    padding-top: 120px;
    @include md {
        padding-top: 140px;
    }
}

#circolo-santa-brigida,
#ixi-management {
    padding-top: 0px;
}

.section-work {
    @include flex-center-all;
    margin-bottom: 20px;

    .content-work {
        @include flex-center-all;
        flex-direction: column;

        .ctn-title {
            align-self: start;

            @include md {
                align-self: center;
            }
        }

        .box-work {
            width: 100%;
            height: 85vh;
            @include flex-center-all;
            flex-direction: column;

            @include md {
                height: 70vh;
            }

            @include lg {
                height: 55vh;
                flex-direction: row;
            }

            .work-mockup {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 290px;
                    height: 200px;

                    @include md {
                        width: 450px;
                        height: 360px;
                    }

                    @include lg {
                        width: 400px;
                        height: 310px;
                    }

                    @include xl {
                        width: 480px;
                        height: 350px;
                    }
                }
            }

            .work-infos {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include md {
                    padding: 0 20px;
                }

                @include lg {
                    padding: 20px;
                }

                .work-title {
                    color: var(--textColor);
                    padding: 20px 0;
                }

                p {
                    @include lg {
                        padding-right: 40px;
                    }
                }
            }
        }
    }
}
