.section-work {
    height: 50vh;
    @include flex-center-all;
    margin-top: 40px;

    @include md {
        margin-top: 20px;
    }

    .content-work {
        @include flex-center-all;
        flex-direction: column;

        .ctn-title {
            align-self: start;

            @include md {
                align-self: center;
            }
        }

        .box-work {
            width: 100%;
            height: 80vh;
            @include flex-center-all;
            flex-direction: column;

            @include lg {
                flex-direction: row;
            }

            .work-mockup {
                width: 100%;
                height: 40vh;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 290px;
                    height: 200px;

                    @include md {
                        width: 450px;
                        height: 360px;
                    }

                    @include lg {
                        width: 400px;
                        height: 310px;
                    }

                    @include xl {
                        width: 480px;
                        height: 350px;
                    }
                }
            }

            .work-infos {
                width: 100%;
                height: 40vh;
                background-color: aqua;
            }
        }
    }
}
