@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: var(--bgColor) !important;
}
body .section {
  width: 100vw;
  height: 100%;
  padding-top: 100px;
}
@media (min-width: 720px) {
  body .section {
    height: 100vh;
    padding-top: 120px;
  }
}
body .section .content {
  width: 90vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 960px) {
  body .section .content {
    max-width: 1200px;
  }
}
body .section .content .box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
@media (min-width: 720px) {
  body .section .content .box {
    width: 50%;
    height: 500px;
  }
}
body .title-custom {
  font-size: 2.6em;
  color: var(--textColor);
  width: 100%;
  padding: 20px 0;
}
@media (min-width: 720px) {
  body .title-custom {
    font-size: 2.8em;
  }
}
@media (min-width: 960px) {
  body .title-custom {
    font-size: 3em;
  }
}
@media (min-width: 1200px) {
  body .title-custom {
    font-size: 5em;
  }
}
body .aboutme-list-item,
body p {
  font-weight: 300;
}
body p {
  color: var(--textColor);
  text-align: justify;
  line-height: 1.8em;
  font-size: 0.9em;
}
@media (min-width: 720px) {
  body p {
    font-size: 1.1em;
  }
}

html {
  --specialColor: #c91f1a;
  --bgColor: #ffffff;
  --textColor: #232323;
  --bgNavFot: #f0f0f1;
  --textNavLinks: #ffffff;
  --textNavLinksHover: #232323;
  --bgIcons: #232323;
  --logoTheme: url(../images/logos/logo-000.png) no-repeat;
  --bgImgDarkModeLabel: url(../images/circle-half-stroke-solid-fff.svg);
}
html .dark-mode {
  --specialColor: #ffbd07;
  --bgColor: #232323;
  --textColor: #ffffff;
  --bgNavFot: #373737;
  --textNavLinks: #232323;
  --textNavLinksHover: #ffffff;
  --bgIcons: #ffffff;
  --logoTheme: url(../images/logos/logo-fff.png) no-repeat;
  --bgImgDarkModeLabel: url(../images//circle-half-stroke-solid.svg);
}
html .ctn-theme {
  display: flex;
  justify-content: center;
  align-self: center;
}
html .ctn-theme input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
html .theme-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--specialColor);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}
html .theme-label:after {
  content: "";
  background-image: var(--bgImgDarkModeLabel);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
html input:checked + .theme-label {
  background: #ffbd07;
}
html input:checked + .theme-label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
html html.transition,
html html.transition *,
html html.transition *:before,
html html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition-delay: 0 !important;
}

.btn-back-top {
  display: none;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0.6;
  background-color: var(--bgIcons);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 720px) {
  .btn-back-top {
    width: 40px;
    height: 40px;
  }
}
.btn-back-top .fa-arrow-up {
  width: 80%;
  height: 80%;
  color: var(--textNavLinks);
  text-decoration: none;
}

.navbar {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgNavFot);
}
@media (min-width: 720px) {
  .navbar {
    height: 120px;
  }
}
.navbar .container-fluid {
  width: 90vw;
  max-width: 1200px;
}
.navbar .container-fluid .nav-left {
  width: 50%;
}
.navbar .container-fluid .nav-left .logo {
  width: 75px;
  height: 75px;
  object-fit: cover;
  background: var(--logoTheme);
  background-size: 75px;
  height: 75px;
}
@media (min-width: 720px) {
  .navbar .container-fluid .nav-left .logo {
    width: 100px;
    height: 100px;
    background-size: 100px;
    height: 100px;
  }
}
.navbar .container-fluid .nav-left img {
  width: 100%;
  height: 100%;
}
.navbar .container-fluid .nav-right {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar .container-fluid .nav-right .ctn-dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .container-fluid .nav-right .ctn-dark-mode html {
  --specialColor: #c91f1a;
  --bgColor: #ffffff;
  --textColor: #232323;
  --bgNavFot: #f0f0f1;
  --textNavLinks: #ffffff;
  --textNavLinksHover: #232323;
  --bgIcons: #232323;
  --logoTheme: url(../images/logos/logo-000.png) no-repeat;
  --bgImgDarkModeLabel: url(../images/circle-half-stroke-solid-fff.svg);
}
.navbar .container-fluid .nav-right .ctn-dark-mode html .dark-mode {
  --specialColor: #ffbd07;
  --bgColor: #232323;
  --textColor: #ffffff;
  --bgNavFot: #373737;
  --textNavLinks: #232323;
  --textNavLinksHover: #ffffff;
  --bgIcons: #ffffff;
  --logoTheme: url(../images/logos/logo-fff.png) no-repeat;
  --bgImgDarkModeLabel: url(../images//circle-half-stroke-solid.svg);
}
.navbar .container-fluid .nav-right .ctn-dark-mode html .ctn-theme {
  display: flex;
  justify-content: center;
  align-self: center;
}
.navbar .container-fluid .nav-right .ctn-dark-mode html .ctn-theme input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.navbar .container-fluid .nav-right .ctn-dark-mode html .theme-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--specialColor);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}
.navbar .container-fluid .nav-right .ctn-dark-mode html .theme-label:after {
  content: "";
  background-image: var(--bgImgDarkModeLabel);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
.navbar .container-fluid .nav-right .ctn-dark-mode html input:checked + .theme-label {
  background: #ffbd07;
}
.navbar .container-fluid .nav-right .ctn-dark-mode html input:checked + .theme-label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.navbar .container-fluid .nav-right .ctn-dark-mode html html.transition,
.navbar .container-fluid .nav-right .ctn-dark-mode html html.transition *,
.navbar .container-fluid .nav-right .ctn-dark-mode html html.transition *:before,
.navbar .container-fluid .nav-right .ctn-dark-mode html html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition-delay: 0 !important;
}
.navbar .container-fluid .nav-right .navbar-toggler {
  border: 0;
}
.navbar .container-fluid .nav-right .navbar-toggler .fa-bars {
  font-size: 1.8em;
  color: var(--bgIcons);
}
.navbar .container-fluid .nav-right .navbar-toggler .fa-bars:hover {
  transform: rotate(45deg);
  transition: 0.1s;
}
.navbar .container-fluid .nav-right .offcanvas {
  border: 0;
  background-color: var(--specialColor);
}
.navbar .container-fluid .nav-right .offcanvas .btn-close {
  padding: 40px 40px 0 0;
  font-size: 2em;
}
.navbar .container-fluid .nav-right .offcanvas-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .container-fluid .nav-right .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: var(--textNavLinks);
  font-size: 2em;
}
@media (min-width: 1200px) {
  .navbar .container-fluid .nav-right .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 3em;
  }
}
.navbar .container-fluid .nav-right .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
  transform: scale(0.9);
  color: var(--textNavLinksHover);
}
.navbar .container-fluid .nav-right .navbar-toggler:focus,
.navbar .container-fluid .nav-right .btn-close:focus {
  box-shadow: none;
}

#hero {
  padding-top: 20px;
  height: 100vh;
}
#hero .title-hello h1 {
  font-size: 25vw;
  color: var(--textColor);
  width: 100%;
}
@media (min-width: 1200px) {
  #hero .title-hello h1 {
    font-size: 400px;
  }
}
#hero .title-hello h1 span {
  color: var(--specialColor);
}

@media (min-width: 720px) {
  #about-me .content {
    flex-direction: row;
    justify-content: space-between;
  }
}
#about-me .content .aboutme-infos {
  flex-direction: column;
}
@media (min-width: 960px) {
  #about-me .content .aboutme-infos {
    padding-left: 60px;
  }
}
#about-me .content .aboutme-infos .aboutme-list {
  width: 100%;
  color: #333;
  word-spacing: 1.8px;
  padding-top: 20px;
}
#about-me .content .aboutme-infos .aboutme-list ul {
  list-style: none;
  padding-left: 0px;
}
#about-me .content .aboutme-infos .aboutme-list ul .aboutme-list-item {
  color: var(--textColor);
}
@media (min-width: 720px) {
  #about-me .content .aboutme-infos .aboutme-list ul .aboutme-list-item {
    font-size: 1.4em;
  }
}
@media (min-width: 960px) {
  #about-me .content .aboutme-infos .aboutme-list ul .aboutme-list-item {
    font-size: 1.2em;
  }
}
#about-me .content .aboutme-infos .aboutme-list ul .aboutme-list-item .entity {
  margin-right: 10px;
  font-size: 1em;
}
#about-me .content .aboutme-image {
  padding-top: 0px;
}
#about-me .content .aboutme-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (min-width: 720px) {
  #skills .content {
    flex-direction: row;
    justify-content: space-between;
  }
}
#skills .content .skills-infos {
  flex-direction: column;
  margin-bottom: 0;
}
@media (min-width: 960px) {
  #skills .content .skills-infos {
    padding-left: 60px;
  }
}
@media (min-width: 960px) {
  #skills .content .skills-chart {
    padding-left: 20px;
  }
}
@media (min-width: 1200px) {
  #skills .content .skills-chart {
    padding-left: 50px;
  }
}
#skills .content .skills-chart .column {
  width: 320px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 720px) {
  #skills .content .skills-chart .column {
    margin-top: 40px;
    padding-left: 30px;
    width: 300px;
  }
}
@media (min-width: 960px) {
  #skills .content .skills-chart .column {
    padding-left: 0px;
    width: 350px;
  }
}
@media (min-width: 1200px) {
  #skills .content .skills-chart .column {
    width: 450px;
  }
}
#skills .content .skills-chart .column tr {
  color: var(--textColor);
}
#skills .content .skills-chart .column tr th {
  font-size: 0.8em;
}
@media (min-width: 960px) {
  #skills .content .skills-chart .column tr th {
    font-size: 1em;
  }
}
#skills .content .skills-chart .column tr td {
  width: 50px;
  border-top-right-radius: 20px;
}

#projects .content .projects-infos {
  flex-direction: column;
}
@media (min-width: 720px) {
  #projects .content .projects-infos {
    width: 100%;
    text-align: center;
  }
}
#projects .content .projects-infos .projects-card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 720px) {
  #projects .content .projects-infos .projects-card-group {
    width: 100%;
  }
}
#projects .content .projects-infos .projects-card-group a {
  text-decoration: none;
  background-color: var(--bgColor);
}
#projects .content .projects-infos .projects-card-group a .card-project {
  width: 150px;
  height: 150px;
  margin: 0 10px;
  border: none;
}
@media (min-width: 720px) {
  #projects .content .projects-infos .projects-card-group a .card-project {
    justify-content: space-between;
    width: 205px;
    height: 205px;
  }
}
@media (min-width: 960px) {
  #projects .content .projects-infos .projects-card-group a .card-project {
    width: 250px;
    height: 250px;
  }
}
#projects .content .projects-infos .projects-card-group a .card-project img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
}
#projects .content .projects-infos .projects-card-group a .card-project .title-project {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;
  transition: 0.6s;
  font-size: 1.4em;
  text-align: center;
  position: relative;
  bottom: 150px;
}
@media (min-width: 720px) {
  #projects .content .projects-infos .projects-card-group a .card-project .title-project {
    font-size: 2em;
    bottom: 205px;
  }
}
@media (min-width: 960px) {
  #projects .content .projects-infos .projects-card-group a .card-project .title-project {
    bottom: 250px;
  }
}
#projects .content .projects-infos .projects-card-group a .card-project:hover .title-project {
  opacity: 1;
  z-index: 2;
  padding-top: 40%;
}
#projects .content .projects-infos .projects-card-group a .card-project:hover .title-item-ixi {
  padding-top: 30%;
}
@media (min-width: 960px) {
  #projects .content .projects-infos .projects-card-group a .card-project:hover .title-item-ixi {
    padding-top: 40%;
  }
}
#projects .content .projects-infos .projects-card-group a:nth-child(2) img, #projects .content .projects-infos .projects-card-group a:nth-child(3) img {
  padding: 20px;
}
@media (min-width: 720px) {
  #projects .content .projects-infos .projects-card-group a:nth-child(2) img, #projects .content .projects-infos .projects-card-group a:nth-child(3) img {
    padding: 25px;
  }
}
#projects .content .projects-infos .btn-to-works {
  color: #fff;
  background-color: var(--specialColor);
  border-radius: 50px;
}
#projects .content .projects-infos .btn-to-works:hover {
  transform: scale(0.9);
}

footer {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgNavFot);
}
footer .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .container-fluid div {
  font-size: 0.8em;
  color: var(--textColor);
}
@media (min-width: 960px) {
  footer .container-fluid div {
    font-size: 1em;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  height: 900px;
}
@media (min-width: 720px) {
  #contact {
    height: 100%;
  }
}
#contact .content .contact-infos {
  height: 100%;
  flex-direction: column;
}
@media (min-width: 720px) {
  #contact .content .contact-infos {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
  }
}
@media (min-width: 720px) {
  #contact .content .contact-infos .form-heading {
    width: 50%;
  }
}
#contact .content .contact-infos .form-heading p {
  color: var(--textColor);
  text-align: justify;
  line-height: 1.8em;
}
@media (min-width: 720px) {
  #contact .content .contact-infos .form-heading p {
    font-size: 1.2em;
  }
}
#contact .content .contact-infos .form-list ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
#contact .content .contact-infos .form-list ul li {
  color: var(--textColor);
  padding: 10px;
  padding-left: 0;
}
@media (min-width: 720px) {
  #contact .content .contact-infos .form-list ul li {
    font-size: 1.2em;
  }
}
#contact .content .contact-infos .form-list ul li:hover {
  cursor: pointer;
  color: var(--specialColor);
}
#contact .content .contact-infos .form-list ul li:hover a {
  color: var(--specialColor);
}
#contact .content .contact-infos .form-list ul li i {
  width: 30px;
  height: 30px;
}
#contact .content .contact-infos .form-list ul li a {
  color: var(--textColor);
  text-decoration: none;
  margin-left: 10px;
}
#contact .content .contact-form {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 40px;
}
@media (min-width: 720px) {
  #contact .content .contact-form {
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
  }
}
@media (min-width: 960px) {
  #contact .content .contact-form {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  #contact .content .contact-form {
    padding: 0 100px;
  }
}
#contact .content .contact-form h2 {
  width: 100%;
}
#contact .content .contact-form .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
#contact .content .contact-form .form .form-floating {
  width: 100%;
}
#contact .content .contact-form .form .form-floating label .form-label {
  color: #ccc;
}
#contact .content .contact-form .form button {
  width: 100%;
  margin: 10px 0;
  color: #fff;
  background-color: var(--specialColor);
}
#contact .content .contact-form .form button:hover {
  transform: scale(0.9);
}
@media (min-width: 720px) {
  #contact .content .contact-form h2,
  #contact .content .contact-form .form {
    width: 50%;
    height: 230px;
  }
}

#hotel-pomelia,
#circolo-santa-brigida,
#ixi-management {
  height: 100%;
}

#hotel-pomelia {
  padding-top: 120px;
}
@media (min-width: 720px) {
  #hotel-pomelia {
    padding-top: 140px;
  }
}

#circolo-santa-brigida,
#ixi-management {
  padding-top: 0px;
}

.section-work {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.section-work .content-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-work .content-work .ctn-title {
  align-self: start;
}
@media (min-width: 720px) {
  .section-work .content-work .ctn-title {
    align-self: center;
  }
}
.section-work .content-work .box-work {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 720px) {
  .section-work .content-work .box-work {
    height: 70vh;
  }
}
@media (min-width: 960px) {
  .section-work .content-work .box-work {
    height: 55vh;
    flex-direction: row;
  }
}
.section-work .content-work .box-work .work-mockup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-work .content-work .box-work .work-mockup img {
  width: 290px;
  height: 200px;
}
@media (min-width: 720px) {
  .section-work .content-work .box-work .work-mockup img {
    width: 450px;
    height: 360px;
  }
}
@media (min-width: 960px) {
  .section-work .content-work .box-work .work-mockup img {
    width: 400px;
    height: 310px;
  }
}
@media (min-width: 1200px) {
  .section-work .content-work .box-work .work-mockup img {
    width: 480px;
    height: 350px;
  }
}
.section-work .content-work .box-work .work-infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 720px) {
  .section-work .content-work .box-work .work-infos {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .section-work .content-work .box-work .work-infos {
    padding: 20px;
  }
}
.section-work .content-work .box-work .work-infos .work-title {
  color: var(--textColor);
  padding: 20px 0;
}
@media (min-width: 960px) {
  .section-work .content-work .box-work .work-infos p {
    padding-right: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
