@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../../node_modules/charts.css/dist/charts.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: #fff;
}
body .section {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}
@media (min-width: 720px) {
  body .section {
    padding-top: 120px;
  }
}
body .section .content {
  width: 90vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 960px) {
  body .section .content {
    max-width: 1200px;
  }
}
body .section .content .box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
@media (min-width: 720px) {
  body .section .content .box {
    width: 50%;
    height: 500px;
  }
}
body .title-custom {
  font-size: 2.6em;
  color: #333;
  width: 100%;
  padding: 20px 0;
}
@media (min-width: 720px) {
  body .title-custom {
    font-size: 2.8em;
  }
}
@media (min-width: 960px) {
  body .title-custom {
    font-size: 3em;
  }
}
@media (min-width: 1200px) {
  body .title-custom {
    font-size: 5em;
  }
}

.btn-back-top {
  display: none;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0.4;
}
@media (min-width: 720px) {
  .btn-back-top {
    width: 40px;
    height: 40px;
  }
}
.btn-back-top img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  background-color: #fff;
}
@media (min-width: 720px) {
  .navbar {
    height: 120px;
  }
}
.navbar .container-fluid {
  width: 90vw;
  max-width: 1200px;
}
.navbar .container-fluid .nav-left {
  width: 70%;
  padding-top: 10px;
}
.navbar .container-fluid .nav-left .logo {
  width: 100px;
  height: 80px;
}
@media (min-width: 720px) {
  .navbar .container-fluid .nav-left .logo {
    width: 130px;
    height: 100px;
  }
}
.navbar .container-fluid .nav-left img {
  width: 100%;
  height: 100%;
}
.navbar .container-fluid .nav-right {
  width: 30%;
  text-align: end;
}
.navbar .container-fluid .nav-right .navbar-toggler {
  border: 0;
}
.navbar .container-fluid .nav-right .navbar-toggler-icon {
  font-size: 1.5em;
}
.navbar .container-fluid .nav-right .navbar-toggler-icon:hover {
  transform: rotate(45deg);
  transition: 0.1s;
}
.navbar .container-fluid .nav-right .offcanvas {
  border: 0;
}
.navbar .container-fluid .nav-right .offcanvas .btn-close {
  padding: 40px 40px 0 0;
  font-size: 2em;
}
.navbar .container-fluid .nav-right .offcanvas-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .container-fluid .nav-right .offcanvas-body .navbar-nav .nav-item .nav-link {
  font-size: 2em;
}
@media (min-width: 720px) {
  .navbar .container-fluid .nav-right .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 3em;
  }
}
.navbar .container-fluid .nav-right .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
  color: red;
}
.navbar .container-fluid .nav-right .navbar-toggler:focus,
.navbar .container-fluid .nav-right .btn-close:focus {
  box-shadow: none;
}

.title-hello h1 {
  font-size: 25vw;
  color: #333;
  width: 100%;
}
@media (min-width: 1200px) {
  .title-hello h1 {
    font-size: 400px;
  }
}
.title-hello h1 span {
  color: red;
}

@media (min-width: 720px) {
  #about-me .content {
    flex-direction: row;
    justify-content: space-between;
  }
}
#about-me .content .aboutme-infos {
  flex-direction: column;
}
@media (min-width: 960px) {
  #about-me .content .aboutme-infos {
    padding-left: 60px;
  }
}
#about-me .content .aboutme-infos .aboutme-list {
  width: 100%;
  color: #333;
  word-spacing: 1.8px;
  padding-top: 20px;
}
#about-me .content .aboutme-infos .aboutme-list ul {
  list-style: none;
  padding-left: 0px;
}
@media (min-width: 720px) {
  #about-me .content .aboutme-infos .aboutme-list ul .aboutme-list-item {
    font-size: 1.4em;
  }
}
@media (min-width: 960px) {
  #about-me .content .aboutme-infos .aboutme-list ul .aboutme-list-item {
    font-size: 1.2em;
  }
}
#about-me .content .aboutme-infos .aboutme-list ul .aboutme-list-item .entity {
  margin-right: 10px;
  font-size: 1em;
}
#about-me .content .aboutme-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (min-width: 720px) {
  #skills .content {
    flex-direction: row;
    justify-content: space-between;
  }
}
#skills .content .skills-infos {
  flex-direction: column;
  margin-bottom: 0;
}
@media (min-width: 960px) {
  #skills .content .skills-infos {
    padding-left: 60px;
  }
}
#skills .content .skills-infos .skills-p {
  text-align: justify;
  line-height: 1.8em;
  font-size: 0.9em;
}
@media (min-width: 720px) {
  #skills .content .skills-infos .skills-p {
    font-size: 1em;
  }
}
@media (min-width: 960px) {
  #skills .content .skills-chart {
    padding-left: 20px;
  }
}
@media (min-width: 1200px) {
  #skills .content .skills-chart {
    padding-left: 50px;
  }
}
#skills .content .skills-chart .column {
  width: 320px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 720px) {
  #skills .content .skills-chart .column {
    margin-top: 40px;
    padding-left: 30px;
    width: 300px;
  }
}
@media (min-width: 960px) {
  #skills .content .skills-chart .column {
    padding-left: 0px;
    width: 350px;
  }
}
@media (min-width: 1200px) {
  #skills .content .skills-chart .column {
    width: 450px;
  }
}
#skills .content .skills-chart .column td {
  width: 50px;
  border-top-right-radius: 20px;
}

#projects {
  height: 100%;
}
@media (min-width: 720px) {
  #projects {
    height: 100vh;
  }
}
#projects .content .projects-infos {
  flex-direction: column;
}
@media (min-width: 720px) {
  #projects .content .projects-infos {
    width: 100%;
    text-align: center;
  }
}
#projects .content .projects-infos .title-custom {
  padding: 20px 0;
}
#projects .content .projects-infos .projects-card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 720px) {
  #projects .content .projects-infos .projects-card-group {
    width: 100%;
  }
}
#projects .content .projects-infos .projects-card-group a {
  text-decoration: none;
}
#projects .content .projects-infos .projects-card-group a .card-project {
  width: 150px;
  height: 150px;
  margin: 0 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #333;
}
@media (min-width: 720px) {
  #projects .content .projects-infos .projects-card-group a .card-project {
    justify-content: space-between;
    width: 205px;
    height: 205px;
    margin-bottom: 0px;
  }
}
@media (min-width: 960px) {
  #projects .content .projects-infos .projects-card-group a .card-project {
    width: 250px;
    height: 250px;
  }
}
#projects .content .projects-infos .projects-card-group a .card-project img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
}
#projects .content .projects-infos .projects-card-group a .card-project .title-project {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;
  transition: 0.6s;
  font-size: 1.4em;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 150px;
}
@media (min-width: 720px) {
  #projects .content .projects-infos .projects-card-group a .card-project .title-project {
    font-size: 2em;
    bottom: 205px;
  }
}
@media (min-width: 960px) {
  #projects .content .projects-infos .projects-card-group a .card-project .title-project {
    bottom: 250px;
  }
}
#projects .content .projects-infos .projects-card-group a .card-project:hover .title-project {
  opacity: 1;
  z-index: 2;
  padding-top: 42%;
}
#projects .content .projects-infos .projects-card-group a .card-project:hover:nth-child(3) .title-project {
  padding-top: 30%;
}
@media (min-width: 480px) {
  #projects .content .projects-infos .projects-card-group a .card-project:hover:nth-child(3) .title-project {
    padding-top: 20%;
  }
}
@media (min-width: 720px) {
  #projects .content .projects-infos .projects-card-group a .card-project:hover:nth-child(3) .title-project {
    padding-top: 30%;
  }
}
@media (min-width: 960px) {
  #projects .content .projects-infos .projects-card-group a .card-project:hover:nth-child(3) .title-project {
    padding-top: 45%;
  }
}
#projects .content .projects-infos .projects-card-group a:nth-child(2) img, #projects .content .projects-infos .projects-card-group a:nth-child(3) img {
  padding: 40px;
  background-color: #fff;
}
@media (min-width: 720px) {
  #projects .content .projects-infos .projects-card-group a:nth-child(2) img, #projects .content .projects-infos .projects-card-group a:nth-child(3) img {
    padding: 40px;
  }
}
#projects .content .projects-infos .btn-to-works {
  color: #fff;
  background-color: red;
}
#projects .content .projects-infos .btn-to-works:hover {
  background-color: #cc0000;
}

footer {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .container-fluid div {
  font-size: 0.8em;
}
@media (min-width: 960px) {
  footer .container-fluid div {
    font-size: 1em;
  }
}

#contact {
  height: 100%;
}
@media (min-width: 720px) {
  #contact {
    height: 100vh;
  }
}
@media (min-width: 960px) {
  #contact {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  #contact {
    height: 100vh;
  }
}
#contact .content .contact-infos {
  height: 100%;
  flex-direction: column;
}
@media (min-width: 720px) {
  #contact .content .contact-infos {
    width: 80%;
  }
}
@media (min-width: 720px) {
  #contact .content .contact-infos .title-custom {
    text-align: center;
  }
}
#contact .content .contact-infos p {
  text-align: justify;
  line-height: 1.8em;
}
@media (min-width: 720px) {
  #contact .content .contact-infos p {
    font-size: 1.2em;
  }
}
#contact .content .contact-infos ul {
  padding: 0;
  list-style: none;
}
#contact .content .contact-infos ul li {
  padding: 8px;
}
@media (min-width: 720px) {
  #contact .content .contact-infos ul li {
    padding: 10px;
    font-size: 1.2em;
  }
}
#contact .content .contact-infos ul li:hover {
  cursor: pointer;
}
#contact .content .contact-infos ul li:hover i,
#contact .content .contact-infos ul li:hover a {
  color: red;
}
#contact .content .contact-infos ul li i {
  margin-right: 10px;
}
#contact .content .contact-infos ul li a {
  text-decoration: none;
  color: #333;
}
#contact .content .contact-form {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  height: 100%;
}
@media (min-width: 720px) {
  #contact .content .contact-form {
    width: 80%;
  }
}
#contact .content .contact-form h2 {
  width: 100%;
}
#contact .content .contact-form .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
#contact .content .contact-form .form .form-floating {
  width: 100%;
}
#contact .content .contact-form .form button {
  margin: 10px 0;
  color: #fff;
  background-color: red;
}
@media (min-width: 720px) {
  #contact .content .contact-form h2,
  #contact .content .contact-form .form {
    width: 50%;
    padding: 0 10px;
  }
}

.section-work {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
@media (min-width: 720px) {
  .section-work {
    margin-top: 20px;
  }
}
.section-work .content-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-work .content-work .ctn-title {
  align-self: start;
}
@media (min-width: 720px) {
  .section-work .content-work .ctn-title {
    align-self: center;
  }
}
.section-work .content-work .box-work {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 960px) {
  .section-work .content-work .box-work {
    flex-direction: row;
  }
}
.section-work .content-work .box-work .work-mockup {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-work .content-work .box-work .work-mockup img {
  width: 290px;
  height: 200px;
}
@media (min-width: 720px) {
  .section-work .content-work .box-work .work-mockup img {
    width: 450px;
    height: 360px;
  }
}
@media (min-width: 960px) {
  .section-work .content-work .box-work .work-mockup img {
    width: 400px;
    height: 310px;
  }
}
@media (min-width: 1200px) {
  .section-work .content-work .box-work .work-mockup img {
    width: 480px;
    height: 350px;
  }
}
.section-work .content-work .box-work .work-infos {
  width: 100%;
  height: 40vh;
  background-color: aqua;
}

/*# sourceMappingURL=main.css.map */
